html{
    background-color:#869960 ;
}

body{
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}

img {
    max-width: 100%;
    height: auto;
}

.container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-left:40px;
    padding-right: 40px;
    box-sizing: border-box;
}

header{
    padding-top:20px;
    color: #617140;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 165%;
}

header p {
    margin: 0;
}

.site-nav ul {
    margin: 0%;
    padding: 0;
}

.site-nav a {
    display: block;
    color: #617140;
    text-decoration: none;
}

.site-nav a:hover{
    background-color: #e5e9dc;
}


table{
    border-spacing: 0;
    border-collapse: collapse;
}

li{
    list-style-type: none;
    float: left;
    padding: 10px;
    float: clear;
}

.col-item-name{
    width: 60%;
}

.col-item-name{
    width: 60%;
}

.col-price{
    width: 20%;
}


